modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[objectStorage]
defaultBucketID = "replit-objstore-975e5bc7-0021-4059-8f6f-458cb993be14"

[userenv]

[userenv.shared]
R2_ACCOUNT_ID = "13aebce316d2ff0c4d828a854f1acc48"
R2_BUCKET_NAME = "evermorgallery"
